@model ABMProductos.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white">
                    <h4>Producto</h4>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Nombre</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombre)</dd>
                        <dt class="col-sm-4">Descripción</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Descripcion)</dd>
                        <dt class="col-sm-4">Categoría</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Categoria)</dd>
                        <dt class="col-sm-4">Fecha de Ingreso</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaIngreso)</dd>
                        <dt class="col-sm-4">Precio</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Precio)</dd>
                        <dt class="col-sm-4">Stock</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Stock)</dd>
                        <dt class="col-sm-4">Imagen</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Imagen)</dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@Model?.Idproducto" class="btn btn-primary">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
